{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block pagetitle %}New Project{% endblock %}

{% block content %}
    <form method="POST">
        {{ form.csrf_token }}
        <span>{{ form.proj_name.label }}</span>
        <p> {{ form.proj_name(size=100) }}</p>
        <span>{{ form.description.label }}</span>
        <p> {{ form.description(size=100) }}</p>
        <p>{{ form.submit }}</p>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
    </form>
    <a href="{{ url_for('user.dashboard') }}">Back to Dashboard</a>
{% endblock %}