{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block pagetitle %}Edit Project{% endblock %}

{% block content %}
    <h2>Project ID: {{ project.id }}</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <span>Name: {{ project.name }}</span>
        <p>{{ form.proj_name(size=100) }}</p>
        <span>Description: {{ project.description }}</span>
        <p>{{ form.description(size=100) }}</p>
        <p>{{ form.edit }}</p>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
    </form>
    <p><button type="button" class="btn btn-outline-danger"><a href= {{ url_for('project.project_delete', id=project.id) }}>Delete Project</a></button></p>
    <a href="{{ url_for('user.dashboard') }}">Back to Dashboard</a>
{% endblock %}