{% extends "base.html" %}
{% block title %}Ticket{% endblock %}
{% block pagetitle %}New Ticket{% endblock %}

{% block content %}
    <h2>Ticket ID: {{ ticket.id }}</h2>
    <form method="POST">
        {{ form.csrf_token }}
        <span>Title: {{ ticket.title }}</span>
        <p> {{ form.ticket_title(size=100) }}</p>
        <span>Description: {{ ticket.description }}</span>
        <p> {{ form.description(size=100) }}</p>
        <span>Project Name: {{ project.name }}</span>
        <p> {{ form.project_id }}</p>
        <span>Assigned User: {{ user.username }}</span>
        <p> {{ form.user_id }}</p>
        <p>{{ form.edit }}</p>
        {% if form.errors %}
        {{ form.errors }}
        {% endif %}
    </form>
    <a href="{{ url_for('user.dashboard') }}">Back to Dashboard</a>
{% endblock %}